extends layout

block content
	.makecenter
		form(action='/signup', method='post')
			if (message.length > 0)
				.alert.alert-danger #{message}
			.form-group
				label Email
				input.form-control(type='text', name='email')
			.form-group
				label Password
				input.form-control(type='password', name='password')
			button.btn.btn-warning.btn-lg(type='submit') Signup
		br
		p
			a(href='/login') Login